.homepage {
  height: calc(100vh - 5rem);
  min-height: 100vh;
  overflow-y: auto;
  background-size: cover;
  background-position: center;
  background-color: lightblue;
  font-family: 'Space Grotesk', sans-serif;
}
